.myName {
  text-align: center;

}

.myBio {
  text-align: center;

}

.pictureDiv {
  padding-top: 200px;
  padding-bottom: 25px;
  text-align: center;
}

.pictureImg {
  height: 200px;
}

.contactIcon {
  padding: 20px;
}